<!DOCTYPE html>
<html>
<head>
  <style>
  $dark: #424652;
$light: #9a9daa4;
$highlight: #8bc6db;
$border: #E9E9E9;

#main_navigation {
  padding: 2.5em 5%;
  .name {
          font-weight: 700;
          font-size: .7em;
          text-transform: uppercase;
          border: 2px solid $border;
          padding: 0.75em 1rem;
          text-decoration: none;
          color: $dark;
          float: left;
  }
  nav {
          float: right;
          a {
            color: $dark;
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1rem;
          }
  }
}
    </style>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
