<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<h1> New Post </h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
<%= f.submit %>
<% end %>